/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none;
    /* Prevent inheritance from `body` */
    background-color: #fff;
    border: .05rem solid #fff;
}


/*
 * Header
 */

.masthead {
    position: fixed;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 1);
}

/*
 * Cover
 */
.cover-container {
    height: 100vh !important;
}

.cover {
    padding: 0 1.5rem;
}

.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
    border-color: #333;
}


#projects {}

.collapse-btn {
    border-radius: 0px !important;
    height: 75px;
}

#projects .card {
    color: #000;
    border: 0px;
    border-radius: 0px;
}

#projects .card-body {
    padding-bottom: 0px;
}

.gallery {}

.gallery-img {
    padding: 0px;
}

@media(max-width: 576px) {
    .gallery-img {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .card-text {
        font-size: 0.85rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.7rem;
    }

    h4 {
        font-size: 1.25rem;
    }
}


.btn.focus,
.btn:focus {
    box-shadow: none;
}

.modal-body {
    padding: 0px !important;
}

@media(min-width: 480px) {
    .modal-dialog {
        max-width: calc(100vh - 20px) !important;
    }
}